main{
	display: flex;
	justify-content: space-between;
	min-height: 500px;
}
.main__contnet{
	max-width: 100%;
	min-height: 500px;
	border-radius: 20px;
	background-color: #242526;
	padding: 2em;
	margin: 2em 0;
}
.profile_pic{
	width: 200px;
	border-radius: 50%;
	overflow: hidden;
}