.main__contnet{
	display: flex;
	align-items: center;
}
.main__contnet__dialogs{
	display: flex;
	height: 700px;
	width: 100%;
	margin-top: 1em;
}
.dialogs_items{
	min-width: 30%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.dialogs_items::-webkit-scrollbar {
	display: none;
}
.dialog{
	display: block;
	max-width: 100%;
	padding: .5em 1em;
	height: 50px;
	border-bottom: solid 2px #363839;
	cursor: pointer;
}
.dialog:hover{
	max-width: 100%;
	padding: .5em 1em;
	height: 50px;
	background-color: #242526;
	border-bottom: solid 2px #363839;
	cursor: pointer;
}
.active{
	max-width: 100%;
	height: 50px;
	background-color: #242526;
}

.messages{
	width: 70%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.messages::-webkit-scrollbar {
	display: none;
}
.message{

}